<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Calculator</title>
    <style>
      .center-text {
        text-align: center;
        font-size: 20pt;
        margin: 5px;
      }
      .card {
        width: 400px;
        border-style: solid;
        padding: 10px;
        text-align: center;
      }
      .blod-text {
        font-weight: bold;
      }
      .width-100 {
        width: 100px;
      }
    </style>
  </head>
  <body>
    <div id="app" class="card">
      <div>
        <input
          class="center-text"
          type="text"
          value="0"
          ref="num1"
          v-model="state.num1"
        />
      </div>
      <div class="center-text blod-text">+</div>
      <div>
        <input
          class="center-text"
          type="text"
          value="0"
          ref="num2"
          v-model="state.num2"
        />
      </div>
      <div>
        <button class="width-100 center-text" @click="doAdd()">=</button>
      </div>
      <div class="center-text" ref="result" v-model="state.result">
        {{state.result}}
      </div>
      <div class="center-text">
        {{state.num1}} + {{state.num2}} = {{result}}
      </div>
    </div>
  </body>
  <script>
    const { createApp, reactive,computed } = Vue;

    createApp({
      setup() {
        const state = reactive({
          num1: "0",
          num2: "0",
          result: 0,
        });
        const result = computed(()=>{
          return parseInt(state.num1) + parseInt(state.num2);
        })
        const doAdd = () => {
          state.result = parseInt(state.num1) + parseInt(state.num2);
        };

        return {
          state,
          doAdd,
          result
        };
      },
    }).mount("#app");
  </script>
</html>
